* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: rgb(120, 120, 120);
  transition: 0.25s ease-in-out;
  font-weight: bold;
}
body {
  background: url("./images/bg.jpg") top center repeat-y;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selectedSection {
  color: white;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexColumn {
  flex-flow: column nowrap;
}
.flexRow {
  flex-flow: row nowrap;
}
header {
  background-color: rgb(30, 30, 30);
  padding: 0.2rem 0;
  height: 7vh;
  position: relative;
  width: 100%;
  color: white;
}
a:hover {
  color: white;
}
main {
  position: relative;
  width: 100%;
}
.nav_wrapper a {
  margin: 0 1rem;
}
.slider_box {
  width: 100%;
  height: 40vh;
  border: 2px solid rgb(135, 135, 135);
  border-left: none;
  border-right: none;
  position: relative;
  background-color: rgba(25, 25, 25, 0.7);
}
.slider_box button {
  width: 8vw;
  height: 8vw;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  font-size: 8rem;
  transition: 150ms ease-in-out;
  background-color: rgb(200, 200, 200);
}
.slider_box button:hover {
  background-color: white;
}
#seq_next {
  right: 20vw;
}
#seq_prev {
  left: 20vw;
}
.slider_box img {
  height: 80%;
  position: absolute;
  border: 1px solid white;
  border-radius: 0.5rem;
}
.section_display_wrapper {
  position: absolute;
  margin: 0.2rem 0;
  bottom: 0.5rem;
}
.section_display_wrapper input {
  margin: 0 0.1rem;
}
.about {
  width: 60vw;
  min-height: 45vh;
  padding: 0 10px;
  box-sizing: border-box;
  border: 2px solid rgb(135, 135, 135);
  border-top: none;
  border-bottom: none;
  margin: 0 auto;
  background-color: rgba(25, 25, 25, 0.7);
}
.about h2 {
  text-align: center;
  font-size: 2rem;
  color: white;
}
.about p {
  color: rgb(235, 235, 235);
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.about p:last-child {
  margin-bottom: 0;
}
footer {
  width: 100%;
  height: 8vh;
  border-top: 2px solid rgb(135, 135, 135);
  color: rgb(135, 135, 135);
  font-size: 0.7rem;
  background-color: rgba(25, 25, 25, 0.7);
}
.btn_language {
  position: absolute;
  right: 5px;
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  border: none;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.25s ease-in-out;
  background-color: rgb(30, 30, 30);
  color: rgb(120, 120, 120);
}
.btn_language:hover,
.lang_select {
  color: white;
  text-decoration: underline;
}
/* services */
.services_wrapper,
.contact_box {
  margin: 0 auto;
  width: 60vw;
  border-top: 2px solid rgb(135, 135, 135);
  color: rgb(135, 135, 135);
  background-color: rgba(25, 25, 25, 0.7);
  min-height: 85vh;
  justify-content: start;
}
.service_box {
  background-color: rgb(210, 210, 210);
  width: 100%;
  min-height: 5vh;
  border: 2px solid grey;
  border-left: none;
  border-right: none;
  margin: 0.3rem 0;
  color: black;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  padding: 0.2rem 0;
}
.service_box:hover,
.active {
  background-color: rgb(240, 240, 240);
  border-color: black;
}
.see_more_box {
  display: none;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
}
.see_more_box img {
  margin-bottom: 0.3rem;
}
.service_description {
  font-size: 1.3rem;
  text-align: left;
}
.see_more_box ul {
  list-style: none;
  width: 80%;
  margin-bottom: 0.3rem;
}
.see_more_box ul li {
  font-weight: 600;
}
.service_additional {
  color: rgb(120, 120, 120);
}
/* contact */
.contact_box {
  color: rgb(235, 235, 235);
  font-weight: bold;
  text-align: center;
}
.contact_box h1,
.contact_box p,
.contact_box span {
  margin: 0.2rem 0;
}
/* gallery */
.gallery_main_box {
  margin: 0 auto;
  width: 60vw;
  border-top: 2px solid rgb(135, 135, 135);
  color: rgb(135, 135, 135);
  background-color: rgba(25, 25, 25, 0.7);
  min-height: 85vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
}
.img_standard {
  width: 200px;
  cursor: pointer;
}
.img_box {
  display: grid;
  background-color: rgb(15, 15, 15);
  position: absolute;
  z-index: 11;
  left: 15vw;
  top: 10vh;
  border: 2px solid grey;
  border-radius: 0.5rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "prev img next";
  justify-items: center;
  align-items: center;
}
.btn_upscale {
  width: 50%;
  height: 10%;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 2.8rem;
  cursor: pointer;
  border: 2px solid white;
  background-color: rgb(120, 120, 120);
  transition: 0.25s ease-in-out;
}
.btn_upscale:hover {
  background-color: white;
  border-color: grey;
}
#next_btn {
  grid-area: next;
}
#prev_btn {
  grid-area: prev;
}
.image_upscaled {
  grid-area: img;
  width: 65%;
}
#btn_close_popup {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}
.opacity_box {
  position: absolute;
  z-index: 10;
  display: none;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
}
